<div class="page-header">
  <h1>Listing services</h1>
  <hr>
</div>

<div class="card">
  <div class="card-body">
    <table class="table table-hover" id="table-services">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Ver</th>
        <th>Editar</th>
        <th>Deletar</th>
      </tr>
      </thead>

      <tbody>
      <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.description %></td>
        <td><%= link_to 'Show', [:admin, service], class: 'btn btn-outline-info btn-xs' %></td>
        <td><%= link_to 'Edit', edit_admin_service_path(service), class: 'btn btn-outline-warning btn-xs' %></td>
        <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, [:admin, service], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-outline-danger' %></td>
      </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>
<br>

<%= link_to 'New Service', new_admin_service_path, class: 'btn btn-outline-primary' %>

<script>
    let service_table = null;
    document.addEventListener("turbolinks:load", function(){
        service_table = $('#table-services').DataTable(
            {
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Nada encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhuma data encontrada",
                    "infoFiltered": "(filtrando _MAX_ de um total de registros)",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Próxima",
                    },
                    "search": "Procurar"
                }
            }
        );
    });

    document.addEventListener("turbolinks:before-cache", function () {
        if($('#table-services').length == 1){
            service_table.destroy();
        }
    });
</script>