<div class="page-header">
  <h1>Listing users</h1>
  <hr>
</div>

<div class="card">
  <div class="card-body">
    <table class="table table-hover" id="table-users">
      <thead>
      <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Ver</th>
        <th>Editar</th>
        <th>Deletar</th>
      </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
      <tr>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.email %></td>
                <td><%= link_to 'Show', [:admin, user], class: 'btn btn-outline-info btn-xs' %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-outline-warning btn-xs' %></td>
        <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, [:admin, user], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-outline-danger' %></td>
      </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>
<br>

<%= link_to 'New User', new_admin_user_path, class: 'btn btn-outline-primary' %>

<script>
    let user_table = null;
    document.addEventListener("turbolinks:load", function(){
        user_table = $('#table-users').DataTable(
            {
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Nada encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhuma data encontrada",
                    "infoFiltered": "(filtrando _MAX_ de um total de registros)",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Próxima",
                    },
                    "search": "Procurar"
                }
            }
        );
    });

    document.addEventListener("turbolinks:before-cache", function () {
        if($('#table-users').length == 1){
            user_table.destroy();
        }
    });
</script>